@model WebNote.Models.Usuario

@{
    ViewData["Title"] = "Menu";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div>
            <h2 class="jumbotron" id="menu">Menu</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Adicionar</h4>
                        <div class="form-group">
                            <a class="btn btn-primary btn-block " asp-area="" asp-controller="Atividades" asp-action="Create">Atividade</a>

                        </div>
                        <div class="form-group">
                            <a class="btn btn-secondary btn-block" asp-area="" asp-controller="Compromissos" asp-action="Create">Compromisso</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mostrar</h4>
                        <div class="form-group">
                            <a class="btn btn-success btn-block" asp-area="" asp-controller="Atividades" asp-action="Index">Atividades</a>

                        </div>
                        <div class="form-group">
                            <a class="btn btn-secondary btn-block" asp-area="" asp-controller="Compromissos" asp-action="Index">Compromissos</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div style="text-align:right">
            <a class="btn btn-outline-primary btns" asp-area="" asp-controller="Login" asp-action="Index">Sair</a>
        </div>
    </div>
</div>


