@model WebNote.Models.Usuario

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <a class="btn btn-default" asp-area="" asp-controller="Usuarios" asp-action="Create">Registrar</a>
                <a class="btn btn-default" asp-area="" asp-controller="Usuarios" asp-action="Create">Registrar</a>
                <a class="btn btn-default" asp-area="" asp-controller="Usuarios" asp-action="Create">Registrar</a>
            </div>
        </form>
    </div>
</div>